server:
  port: 8080

spring:
  profiles:
    active: local
    include: private

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher #swagger 3.0 오류 해결

  redis:
    host: localhost
    port: 6379